<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
<bean id="hello2" class="pl.coderslab.examples.Spring01xmlTest.bean.HelloWorld"><constructor-arg name="message" value="Wiadomość z beans.xml"></constructor-arg></bean>
<bean id="hello" class="pl.coderslab.examples.Spring01xmlTest.bean.HelloWorld"><property name="message" value="Wiadomość z beans.xml ustawiona przez setter"/></bean>
<!-- dodaje ziarno (zadanie3) -->
<bean id="email" class="pl.coderslab.examples.Spring01xmlTest.bean.EmailService"></bean>
<bean id="messageSender" class="pl.coderslab.examples.Spring01xmlTest.bean.MessageSender"><constructor-arg name="messageService" value="Nowa wiadomość z beans.xml od messageService"></constructor-arg></bean>
</beans>
